[bridge]

;
; Core Configuration Options
;

;
;use_cloud_api
;defaults to false (0), for onprem infoblox appliances
;set to true (1) to enable support for the Infoblox Cloud API
;
;See api_route, api_token, and rest_poll_interval below
;
use_cloud_api=0

;
; listener_port
; port to listen for incoming feed requests
;
listener_port=7000

;
; do_kill, do_isolation, and do_alert
; Define the actions that should be taken when a process talks to a flagged domain from Infoblox:
; - do_kill: set to "false", "streaming", or "api". Default is "false".
;   "streaming" will use the RabbitMQ bus to listen for process starts. "streaming" will provide the most
;   immediate response capability; you will need to enable the RabbitMQ bus in Carbon Black.
;   "api" will use the Cb REST API to query for processes. This is subject to the delay getting process
;   data into the Cb SOLR database - which can be up to 15 minutes.
do_kill=false

; - do_isolation: set to "false" or "true". Default is "false".
;   when set to "true", the offending sensor is isolated from the network upon a process hit on Infoblox.
;   Note that the isolation has no timeout; it will remain isolated until manually removed from isolation.
do_isolation=false

; - do_alert: set to "false" or "true". Default is "false".
;   when set to "true", add the "alert" action to the Infoblox feed on Carbon Black. Alerts will be created
;   for every process that contacts a domain flagged by Infoblox.
do_alert=false

;
; listener_address
; ipv4 address to listen for the feed server; defaults to 127.0.0.1
; 0.0.0.0 binds to all interfaces
;
listener_address=0.0.0.0

;
; feed_host
; The Infoblox feed will be created with this IP/DNS name; therefore this IP address must be reachable
; by the Carbon Black server
; Ex) If running the connector from CbR Server, the IP should be the IP of the cbr server itself  
; if runnning the connector from another machine, that machines IP should be used for feed_host - and it must be accesible from CbR server.
;
feed_host=<FEED_HOST_IP>

;
; Infoblox Server Address
; Server Addres for onprem Infoblox
infoblox_server_address=<IPOFINFOBLOXAPPLIANCE>


;
; restore_feed_on_restart
; reads previously received alerts on startup
;
restore_feed_on_restart=1


;
; Carbon Black Enterprise Server options
;

;
; Carbon Black Enterprise Server URL
;
carbonblack_server_url=https://<IP OR HOSTNAME>

;
; Carbon Black Enterprise Server API Token
;
carbonblack_server_token=<YOURAPIKEYGOESHERE>

;
; Carbon Black Enterprise Server SSL Verification
;
carbonblack_server_sslverify=0

;
; Streaming options
; if do_kill is set to "streaming", then these must be set to the appropriate RabbitMQ parameters from
; /etc/cb/cb.conf:
;
; carbonblack_streaming_host should be set to the IP/DNS name of the Cb server
; carbonblack_streaming_username should be set to RabbitMQUser from /etc/cb/cb.conf
; carbonblack_streaming_password should be set to RabbitMQPassword from /etc/cb/cb.conf
;
carbonblack_streaming_host=<IP/HOSTNAMEOFCBR>
carbonblack_streaming_username=cb
carbonblack_streaming_password=rabbitmqpassword

;
; Cloud API Options
; 

;
; API Route
; Infoblox API Route
api_route=https://csp.infoblox.com/api/threats/v1/dns_event

;
; API token
; Infoblox API Token
api_token=<API_TOKEN>

;
; Rest Polling time Interval
; Possible specs <int>:spec where spec in "M,S,W,D,H", minute second week day hour
; Default: 5M
rest_poll_interval=5M

;
; debugging options
;

; debug - enables various debug output
; Default: 0
; Enabled: 1
;
debug=0
